body {
    font-family: "Bree Serif", sans-serif;
}

.container, .results {
    width: 400px;
    padding: 10px;
    margin: 50px auto;
    border: 5px solid gold;
    border-radius: 20px;
    background-color: red;
    
    transition: background-color .5s ease-in-out;
    transition: border .2s ease-in-out;
}

.container:hover {
    background-color: gold;
    border-color: red;
}
body { 
    background-color: black;
}
 